pyoai @ https://github.com/infrae/pyoai/archive/refs/tags/2.5.1.zip
WSGIUtils
wsgi_intercept
webob
paste
pasteDeploy
pasteScript
sqlalchemy==2.0.3
xmltodict
mod-wsgi==4.9.3
wsgiserver
lxml==4.9.2
requests==2.31.0
