pyoai @ git+https://github.com/infrae/pyoai.git@2.5.1
WSGIUtils
wsgi_intercept
webob
paste
pasteDeploy
pasteScript
sqlalchemy==2.0.3
xmltodict
mod-wsgi==4.9.3
wsgiserver
lxml==5.3.0
requests==2.32.4
lxml-stubs
